nav {
  list-style-type: none;
  position: fixed;
  background-color: none;
  width: 100;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
li {
  padding: 3px;
  margin: 5px;
  float: right;
}
a {
  color: blue;
  text-shadow: 1px 1px red;
  text-decoration: none;
  font-size: 110%;
}
li a: hover {
  color: purple;
  font-size: 110%;
}
h1 {
  color: blue;
  text-align: center;
  text-shadow: 2px 2px red;
}
body {
  background-color: white;
}
img {
  border: none;
  width: 58%;
}
